<div class="section">
    <div class="section__image" style="background-image:url('{{ app.request.basepath }}/files/{{ record.bottom_image }}')"></div>
    <div class="button-text">
        <a href="{{ app.request.basepath }}/{{ language }}/{{ record.bottom_button_link }}" class="button">{{ record.bottom_button }}</a>
    </div>
</div>