<div class="languages">
    <ul class="languages__list">
        {% set langs = ['lv', 'en', 'ru'] %}
        {% for item in langs %}
            {% if item == language %}
                <li class="languages__item">
                    <span class="languages__text">{{ language|upper }}</span>
                </li>
            {% else %}
                <li class="languages__item">
                    <a href="{{ app.request.basepath }}/{{ item }}/{{ sluggg }}" class="languages__text">{{ item|upper }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
