{% spaceless %}

    {% set languageslug = app.paths.current|split('/')[2] %}

    {% if languageslug in ['en', 'ru', 'lv'] %}
        {% set language = languageslug %}
    {% else %}
        {% set language = 'ru' %}
    {% endif %}

    {% set pagescontenttype      = language ~ '-pages' %}

    {% set menumain              = language ~ '-main' %}
    {{ setlanguage(language) }}
{% endspaceless %}

{% macro svg(svgAssetModel, cssClasses) %}

    <svg class="{{ cssClasses }}" title="{{ svgAssetModel.title }}">
        <use xlink:href="{{ svgAssetModel.url }}#{{ svgAssetModel.symbol }}"></use>
    </svg>

{% endmacro %}
<!DOCTYPE html>
<html lang="{{ language }}">
{% include 'head.twig' %}
<body>
{% spaceless %}
    {% include 'blocks/modals.twig' %}
    <div class="wrapper">
        {% block page %}{% endblock %}
        {% include 'blocks/footer.twig' %}
    </div>
    {% include 'scripts.twig' %}
{% endspaceless %}
</body>
</html>