{% spaceless %}

    {% set languageslug = app.paths.current|split('/')[2] %}

    {% if languageslug in ['en', 'ru', 'lv'] %}
        {% set language = languageslug %}
    {% else %}
        {% set language = 'ru' %}
    {% endif %}

    {% set pagescontenttype      = language ~ '-pages' %}

    {% set menumobile              = language ~ '-mobile' %}
    {{ setlanguage(language) }}
{% endspaceless %}
{% macro svg(svgAssetModel, cssClasses) %}

    <svg class="{{ cssClasses }}" title="{{ svgAssetModel.title }}">
        <use xlink:href="{{ svgAssetModel.url }}#{{ svgAssetModel.symbol }}"></use>
    </svg>

{% endmacro %}

<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/index_mobile.css">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/csslib/swiper.min.css">
    <title>Dubultu Krasts</title>
</head>
<body>
{% spaceless %}
    <div class="wrapper">
        {{ menu(menumobile, 'interface/mobile/menu.twig') }}

        {% block content %}{% endblock %}
        {% if app.request.pathInfo != '/' ~ language ~ '/contacts' %}
            {% include 'interface/mobile/footer.twig' %}
        {% else  %}
            {% include 'interface/mobile/footer-contacts.twig' %}
        {% endif %}
    </div>
    {% include 'scripts_mobile.twig' %}
{% endspaceless %}
</body>
</html>