<div class="modal-block" data-modal="order-call">
    <div class="modal-block__container" data-modal-inner="order-call">
        <div data-modal-close class="modal-block__close">
            {% include 'svg/close-lightbox.svg' %}
        </div>
        <div class="modal-block__text-block">
            <h4 class="modal-block__title modal-block__title--top50">
                {{ l('Заказать звонок') }}
            </h4>
            <form data-form="order-call" action="" class="modal-block__form">
                <div class="modal-block__form-input-block">
                    <label class="modal-block__form-input-label" for="name">
                        {{ l('Ваше имя') }}
                    </label>
                    <input name="name" id="name" class="modal-block__form-input" />
                </div>
                <div class="modal-block__form-input-block">
                    <label class="modal-block__form-input-label" for="phone">
                        {{ l('Телефон') }} <span class="modal-block__form-input-label modal-block__form-input-label--c-red">*</span>
                    </label>
                    <input name="phone" id="phone" class="modal-block__form-input" />
                </div>
                <div class="modal-block__form-input-block">
                    <label class="modal-block__form-input-label" for="email">
                        {{ l('Эл. почта') }}
                    </label>
                    <input name="email" id="email" class="modal-block__form-input" />
                </div>
                <button class="button button--form" type="submit" data-form="order-button">
                    <span>{{ l('отправить') }}</span>
                    <span>{{ l('отправить') }}</span>
                </button>
            </form>
            <div class="loader" data-loader="loader">
                <div class="loader__animation">
                    <div class="sk-fading-circle">
                        <div class="sk-circle1 sk-circle"></div>
                        <div class="sk-circle2 sk-circle"></div>
                        <div class="sk-circle3 sk-circle"></div>
                        <div class="sk-circle4 sk-circle"></div>
                        <div class="sk-circle5 sk-circle"></div>
                        <div class="sk-circle6 sk-circle"></div>
                        <div class="sk-circle7 sk-circle"></div>
                        <div class="sk-circle8 sk-circle"></div>
                        <div class="sk-circle9 sk-circle"></div>
                        <div class="sk-circle10 sk-circle"></div>
                        <div class="sk-circle11 sk-circle"></div>
                        <div class="sk-circle12 sk-circle"></div>
                    </div>
                </div>
                <div class="loader__text">
                    {{ l('загрузка') }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-block" data-modal="email">
    <div class="modal-block__container" data-modal-inner="email">
        <div data-modal-close class="modal-block__close">
            {% include 'svg/close-lightbox.svg' %}
        </div>
        <div class="modal-block__text-block">
            <h4 class="modal-block__title">
                {{ l('Спасибо!') }}
            </h4>
            <p class="modal-block__text">
                {{ l('ваша заявка на обратный звонок успешно передана. Наши менеджеры свяжуться с вами в ближайшее время') }}
            </p>
            <span style="cursor: pointer;" class="modal-block__link" data-modal-close>
                {{ l('Вернуться на сайт') }}
            </span>
        </div>
    </div>
</div>
{% if galleries is defined %}
    <div class="modal-block modal-block--gallery" data-modal="gallery">
        <div class="modal-block__container modal-block__container--gallery" data-modal-inner="gallery">
            <div data-modal-close class="modal-block__close">
                {% include 'svg/close-lightbox.svg' %}
            </div>
            <div class="modal-block__arrow modal-block__arrow--prev" data-button-gallery="prev">
                {% include 'svg/arrow.svg' %}
            </div>
            <div class="modal-block__arrow modal-block__arrow--next" data-button-gallery="next">
                {% include 'svg/arrow.svg' %}
            </div>
            <div class="modal-block__gallery-block">
            {% for gallery in galleries %}
                {% if gallery.gallery_type != 'link' %}
                    <div class="swiper-container modal-block__gallery-block-item" data-gallery-block="{{ gallery.id }}">
                        <div class="swiper-wrapper modal-block__gallery-block-slides">
                            {% if gallery.gallery_type == 'gallery' %}
                                {% for item in gallery.image %}
                                    <div class="swiper-slide">
                                        <img src="{{ app.request.basepath }}/files/{{ item.file }}" />
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if gallery.gallery_type == 'video' %}
                                {% for item in gallery.video %}
                                    <div class="swiper-slide">
                                        <iframe width="100%" height="100%" src="{{ item }}" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
            <div class="modal-block__gallery-buttons-block">
                {% for gallery in galleries %}
                    {% if gallery.gallery_type != 'link' %}
                        <div data-gallery-button="{{ gallery.id }}" class="button button--gallery">{{ gallery['page_button_' ~ language] }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}