<footer class="footer footer--contacts">
    {% setcontent footers = 'footer_block' where { use_in_lang: language } %}
    <ul class="footer-items">
        <li class="footer-items__item">
            <div class="footer-items__item-title">{{ l('dubultu krasts') }}</div>
            <div class="footer-items__section">
                <a href="tel:{{ l('contact phone') }}" class="footer-items__item-link">{{ l('contact phone') }}</a>
            </div>
            <div class="footer-items__section">
                <a href="mailto:{{ l('info email') }}" class="footer-items__item-link">{{ l('info email') }}</a>
            </div>
        </li>
        {% for item in footers|sort %}
            <li class="footer-items__item {% if loop.last %} footer-items__item--margin {% endif %}">
                <div class="footer-items__item-title">{{ item.title }}</div>
                <div class="footer-items__section">
                    {{ item.text1 }}
                </div>
                <div class="footer-items__section">
                    {{ item.text2 }}
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="footer__copyright">{{ l('© 2016 Dubultu Krasts') }}</div>
</footer>