<div class="menu hide" data-mobile-menu="menu">

    <div class="menu__logo">
        {% include 'svg/logo.svg' %}
    </div>

    <div class="menu__close" data-mobile-menu="close"></div>
    <div class="menu-list">
        {% for item in menu %}
            <a style="display: block" href="{{ item.link }}" class="menu-list__item">{{ item.title }}</a>
        {% endfor %}
    </div>

    <div class="menu__footer">
        {{ l('contact phone') }}<br>
        <a href="{{ l('info email') }}">{{ l('info email') }}</a>
    </div>
</div>