{% extends 'index.twig' %}

{% block page %}
    {% include 'interface/languages.twig' %}
    {% include 'interface/inner-header.twig' %}


    <div class="content content--contacts_page">
        <div class="page-contact-block">
            <div class="page-contact-block__title">
                {{ l('contact address big') }}
            </div>
            <ul class="page-contact-block__list">
                <li class="page-contact-block__list-item">
                    <div class="page-contact-block__list-item-title">
                        {{ l('dubultu krasts') }}
                    </div>
                    <div class="page-contact-block__list-item-section">
                        <a href="tel:{{ l('contact phone') }}" class="page-contact-block__list-item-link">
                            {{ l('contact phone') }}
                        </a>
                    </div>
                    <div class="page-contact-block__list-item-section">
                        <a href="mailto:{{ l('info email') }}" class="page-contact-block__list-item-link">
                            {{ l('info email') }}
                        </a>
                    </div>
                </li>
                <li class="page-contact-block__list-item">
                    <div class="page-contact-block__list-item-title">
                        {{ l('офис продаж') }}
                    </div>
                    <div class="page-contact-block__list-item-section">
                        <a href="tel:{{ l('sales phone') }}" class="page-contact-block__list-item-link">
                            {{ l('sales phone') }}
                        </a>
                    </div>
                    <div class="page-contact-block__list-item-section">
                        <a href="mailto:{{ l('contact email') }}" class="page-contact-block__list-item-link">
                            {{ l('contact email') }}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="content content--contacts-map" data-map="contacts">
        {% include 'blocks/map.twig' %}
    </div>

    {% include 'blocks/bottom_block.twig' %}

{% endblock %}