{% extends 'index.twig' %}

{% block page %}
    {% include 'interface/languages.twig' %}
    {% include 'interface/inner-header.twig' %}

    <div class="content content--text">
        {% include 'blocks/top_text_block.twig'%}

        <div class="gallery">
            <ul class="page-gallery">
                {% for gallery in galleries %}
                    {% if gallery.gallery_type == 'link' %}
                        <li class="page-gallery__item">
                            <a href="{{ gallery.page_link }}" style="display: block;{% if gallery.preview_image.file is defined %}background-image: url('{{ app.request.basepath }}/files/{{ gallery.preview_image.file }}'){% endif %}" class="page-gallery__image"  data-gallery="{{ gallery.id }}"></a>
                            <div class="page-gallery__text">
                                {{ gallery[language ~ '_text'] }}
                            </div>
                            <div class="gallery__button">
                                <a href="{{ gallery.page_link }}" data-gallery="{{ gallery.id }}" class="button">
                                    <span>{{ gallery['page_button_' ~ language] }}</span>
                                    <span>{{ gallery['page_button_' ~ language] }}</span>
                                </a>
                            </div>
                        </li>
                    {% else %}
                        <li class="page-gallery__item">
                            <div {% if gallery.preview_image.file is defined %}style="background-image: url('{{ app.request.basepath }}/files/{{ gallery.preview_image.file }}')"{% endif %} class="page-gallery__image" data-modal-open="gallery" data-gallery="{{ gallery.id }}"></div>
                            <div class="page-gallery__text">
                                {{ gallery[language ~ '_text'] }}
                            </div>
                            <div class="gallery__button">
                                <div data-modal-open="gallery" data-gallery="{{ gallery.id }}" class="button">
                                    <span>{{ gallery['page_button_' ~ language] }}</span>
                                    <span>{{ gallery['page_button_' ~ language] }}</span>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    {% include 'blocks/bottom_block.twig' %}
{% endblock %}