{% extends 'index.twig' %}

{% block page %}
    {% include 'interface/languages.twig' %}
    {% if record.header_banner %}
        {% include 'interface/inner-header-big.twig' %}
    {% else %}
        {% include 'interface/inner-header.twig' %}
    {% endif %}

    <div class="content content--map">
        <div class="content__title">
            <h1 class="page-title">
                {{ record.top_title }}
            </h1>
        </div>
        <div class="content__map">
            {%  include 'blocks/pin-map.twig' %}
        </div>

        <div class="header__button">
            <div class="button-text button-text--c_gray">
                {{ record.bot_text_right }}
            </div>
            <a href="{{ app.request.basepath }}/{{ language }}/{{ record.bot_button_link_right }}" class="button">
                <span>{{ record.bot_button_right }}</span>
                <span>{{ record.bot_button_right }}</span>
            </a>
        </div>
    </div>


    <div class="content content--plans">
        <div class="header__call" style="z-index: 2;">
            {% include 'interface/call.twig' %}
        </div>

        <div class="header__info-block">
            {% include 'interface/info-price.twig' %}
        </div>


        <div class="content__houses">
            <ul class="house-circle__list">
                <li class="house-circle">
                    <a href="{{ app.request.basepath }}/{{ language }}/plans" data-house="1">
                        <div class="house-circle__circle">№1</div>
                        <div class="house-circle__line"></div>
                    </a>
                </li>
                <li class="house-circle house-circle--h90">
                    <a href="{{ app.request.basepath }}/{{ language }}/plans" data-house="2">
                        <div class="house-circle__circle">№2</div>
                        <div class="house-circle__line"></div>
                    </a>
                </li>
                <li class="house-circle house-circle--h20">
                    <a href="{{ app.request.basepath }}/{{ language }}/plans" data-house="3">
                        <div class="house-circle__circle">№3</div>
                        <div class="house-circle__line"></div>
                    </a>
                </li>
                <li class="house-circle house-circle--h120">
                    <a href="{{ app.request.basepath }}/{{ language }}/plans" data-house="4">
                        <div class="house-circle__circle">№4</div>
                        <div class="house-circle__line"></div>
                    </a>
                </li>
            </ul>
        </div>



        <div class="header__button">
            <a href="{{ app.request.basepath }}/{{ language }}/plans" class="button">
                <span>{{ l('планировки') }}</span>
                <span>{{ l('планировки') }}</span>
            </a>
        </div>

        <img alt="" src="{{ app.request.basepath }}/images/render.jpg" title="" usemap="#render">

        <map name="render" id="render">
            <area data-section="1" alt="" href="{{ app.request.basepath }}/{{ language }}/plans/?&house=1" title="" shape="poly" coords="321,309,497,314,498,502,322,502" />
            <area data-section="2" alt="" href="{{ app.request.basepath }}/{{ language }}/plans?&house=2" title="" shape="poly" coords="499,263,758,276,759,506,499,507" />
            <area data-section="3" alt="" href="{{ app.request.basepath }}/{{ language }}/plans?&house=3" title="" shape="poly" coords="758,253,797,187,1123,208,1115,513,799,512,762,507" />
            <area data-section="4" alt="" href="{{ app.request.basepath }}/{{ language }}/plans?&house=4" title="" shape="poly" coords="1124,319,1309,300,1311,504,1119,504" />
        </map>
    </div>


    {% include 'blocks/bottom_block.twig' %}

{% endblock %}
