{% extends 'index.twig' %}

{% block page %}
    {% include 'interface/languages.twig' %}
    {% include 'interface/inner-header.twig' %}

    <div class="content content--text">
        <div class="content__overlay">
            <img alt="" src="{{ app.request.basepath }}/images/overlay.png" title="">
        </div>

        {% include 'blocks/top_text_block.twig'%}

        {% if sliders[0] is defined %}
            <div class="content__gallery">
                <div class="image-block" data-page-slider>
                    <div class="image-block__image">
                        <div class="swiper-container image-block__image-gallery" data-page-slider-container>
                            <div class="swiper-wrapper image-block__image-gallery-wrapper">
                                {% for image in sliders[0] %}
                                    <div class="swiper-slide">
                                        <img src="{{ app.request.basepath }}/files/{{ image.image.file }}" />
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="image-block__controls">
                        <div class="image-block__comment">
                            {% for image in sliders[0] %}
                                <div class="image-block__comment-item" data-page-slider-comment="{{ loop.index0 }}">
                                    {{ image[language ~ "_comment"] }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="image-block__buttons-block">
                            <div class="image-block__button image-block__button--prev" data-page-slider-button-prev>{% include 'svg/arrow.svg' %}</div>
                            <div class="image-block__button image-block__button--next" data-page-slider-button-next>{% include 'svg/arrow.svg' %}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="content__col">
            {% include 'blocks/middle_text_block.twig'%}
        </div>

        <div class="banner-icons">
            {% setcontent svgs = 'infrasvg' %}
            <ul class="icons-block">
                {% for svgimg in svgs %}
                    <li class="icons-block__item">
                        <div class="icons-block__item-icon" style="background-size:contain;background-image: url('{{ app.request.basepath }}/files/{{ svgimg.svgimage }}')"></div>
                        <div class="icons-block__item-text">
                            {{ svgimg[language ~ "_text"] }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% include 'blocks/bottom_block.twig' %}
{% endblock %}