{% extends 'index.twig' %}

{% block page %}
    {% include 'interface/languages.twig' %}
    {% include 'interface/inner-header.twig' %}


    <div class="content content--text">
        <div class="content__overlay">
            <img alt="" src="{{ app.request.basepath }}/public/images/overlay.png" title="">
        </div>

        <div class="content__col">
            <div class="content__right-col">
                <h1 class="page-title">
                    Размеренная жизнь<br>
                    и комфорт
                </h1>
                <div class="content__col-text content__col-text--separate-mid">
                    <p>
                        Латвия — одна из самых зеленых стран Европы
                        с отличной экологией и развитой современной
                        инфраструктурой.
                    </p>

                    <p>
                        Город-курорт Юрмала у Балтийского моря
                        находится в 20 минутах езды от центра столицы
                        Латвии — города Риги и в 15 минутах езды от
                        аэропорта. Юрмала издавна славится своим
                        умеренным целебным климатом, обширной
                        культурной программой, превосходным сервисом
                        и разнообразными возможностями для активного и
                        пассивного отдыха.
                    </p>
                </div>
            </div>
        </div>

        <div class="content__gallery">
            <div class="image-block" data-page-slider>
                <div class="image-block__image">
                    <div class="swiper-container image-block__image-gallery" data-page-slider-container>
                        <div class="swiper-wrapper image-block__image-gallery-wrapper">
                            <div class="swiper-slide">
                                <img src="{{ app.request.basepath }}/public/images/test/cake1.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="{{ app.request.basepath }}/public/images/test/cake2.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="{{ app.request.basepath }}/public/images/test/cake3.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="{{ app.request.basepath }}/public/images/test/cake4.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-block__controls">
                    <div class="image-block__comment">
                        <div class="image-block__comment-item" data-page-slider-comment="0">
                            Широкие песчаные пляжи
                            Юрмалы и неглубокое
                            море привлекают своей
                            чистотой и спокойствием
                        </div>
                        <div class="image-block__comment-item" data-page-slider-comment="1">
                            Широкие песчаные пляжи
                            Юрмалы и неглубокое
                            море привлекают своей
                            чистотой и спокойствием
                        </div>
                        <div class="image-block__comment-item" data-page-slider-comment="2">
                            Широкие песчаные пляжи
                            Юрмалы и неглубокое
                            море привлекают своей
                            чистотой и спокойствием
                        </div>
                        <div class="image-block__comment-item" data-page-slider-comment="3">
                            Широкие песчаные пляжи
                            Юрмалы и неглубокое
                            море привлекают своей
                            чистотой и спокойствием
                        </div>
                    </div>
                    <div class="image-block__buttons-block">
                        <div class="image-block__button image-block__button--prev" data-page-slider-button-prev>{% include 'svg/arrow.svg' %}</div>
                        <div class="image-block__button image-block__button--next" data-page-slider-button-next>{% include 'svg/arrow.svg' %}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__col">
            <div class="content__right-col content__right-col--button">
                <div class="content__col-text">
                    <p>
                        Высокий уровень безопасности и
                        доброжелательные жители, которые чаще всего
                        свободно владеют русским и английским языками,
                        создают неповторимый фон идеалистической
                        картины жизни в этом особенном месте.
                    </p>
                    <p>
                        Латвия до сих пор остаётся одной из стран ЕС
                        с минимальными требованиями для получения
                        вида на жительство в Европейском Союзе при
                        приобретении недвижимости. После покупки
                        квартиры в комплексе Dubultu Krasts стоимостью
                        от 250 000 € сотрудники нашей компании
                        проконсультируют вас по всем вопросам, связанным
                        с получением ВНЖ.
                    </p>
                    <div class="content__col-button">
                        <div class="button" data-modal-open="order-call">
                            <span class="button__fix">заказать звонок</span>
                            <span class="button__fix">заказать звонок</span>
                            <i class="button__icon">{% include 'svg/phone-2.svg' %}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__map-crutch"></div>
    </div>

    <div class="section__right-map">
        <div class="content__map-crutch content__map-crutch--v2"></div>
        <div class="section__map latvia-map">
            {%  include 'blocks/pin-map.twig' %}
            <div class="section__map-text">
                <div class="content__col-text">
                    Латвия является одной из самых логистически
                    удобных стран, связывающих Россию и
                    Западную Европу, с развитым авиационным,
                    железнодорожным, водным и автомобильным
                    сообщением. Например, из Москвы до Риги вы
                    сможете добраться всего за 1 час на одном из
                    9 ежедневных авиационных рейсов. А Ригу и
                    Хельсинки разделяет всего 40 минут полета.
                    Развитое авиасообщение с прямыми рейсами по
                    всей Европе и СНГ и наличие большого числа
                    авиакомпаний-дискаутнеров делают Латвию
                    привлекательной страной для жизни, отдыха и
                    бизнеса.
                </div>
            </div>
        </div>
    </div>

    <div class="content content--banner">
        <a href="{{ path('info', {_locale: app.request.locale}) }}" class="content__full-link"></a>
        <div class="content__banner-title">
            <h2 class="page-title">
                В сердце природы,<br>
                в центре курорта
            </h2>
        </div>
        <div class="header__button">
            <a href="{{ path('location', {_locale: app.request.locale}) }}" class="button">
                <span>расположение</span>
                <span>расположение</span>
            </a>
        </div>
    </div>
{% endblock %}