{% extends 'index.twig' %}

{% block page %}
    {% include 'interface/languages.twig' %}
    {% include 'interface/inner-header.twig' %}
<div class="content content--text">
    <div class="content__overlay">
        <img alt="" src="{{ app.request.basepath }}/images/overlay.png" title="">
    </div>

    {% include 'blocks/top_text_block.twig'%}

    <div class="content__gallery">
        <div class="image-block" data-page-slider>
            <div class="image-block__image">
                <div class="swiper-container image-block__image-gallery" data-page-slider-container>
                    <div class="swiper-wrapper image-block__image-gallery-wrapper">
                        <div class="swiper-slide">
                            <img src="{{ app.request.basepath }}/images/test/cake1.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ app.request.basepath }}/images/test/cake2.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ app.request.basepath }}/images/test/cake3.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ app.request.basepath }}/images/test/cake4.jpg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-block__controls">
                <div class="image-block__comment">
                    <div class="image-block__comment-item" data-page-slider-comment="0">
                        Широкие песчаные пляжи
                        Юрмалы и неглубокое
                        море привлекают своей
                        чистотой и спокойствием
                    </div>
                    <div class="image-block__comment-item" data-page-slider-comment="1">
                        Широкие песчаные пляжи
                        Юрмалы и неглубокое
                        море привлекают своей
                        чистотой и спокойствием
                    </div>
                    <div class="image-block__comment-item" data-page-slider-comment="2">
                        Широкие песчаные пляжи
                        Юрмалы и неглубокое
                        море привлекают своей
                        чистотой и спокойствием
                    </div>
                    <div class="image-block__comment-item" data-page-slider-comment="3">
                        Широкие песчаные пляжи
                        Юрмалы и неглубокое
                        море привлекают своей
                        чистотой и спокойствием
                    </div>
                </div>
                <div class="image-block__buttons-block">
                    <div class="image-block__button image-block__button--prev" data-page-slider-button-prev>{% include 'svg/arrow.svg' %}</div>
                    <div class="image-block__button image-block__button--next" data-page-slider-button-next>{% include 'svg/arrow.svg' %}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="content__col content__col--separate-gallery">
        {% include 'blocks/middle_text_block.twig'%}
    </div>

</div>
<div class="map">
    {% include 'blocks/map.twig' %}
</div>

    {% include 'blocks/bottom_block.twig' %}
{% endblock %}
