{% extends 'index.twig' %}

{% block page %}
    {% include 'interface/languages.twig' %}
    {% include 'interface/inner-header.twig' %}

    <div class="content content--table">
        <div class="loader" data-loader="loader">
            <div class="loader__animation">
                <div class="sk-fading-circle">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
            </div>
            <div class="loader__text">
                загрузка
            </div>
        </div>
        <div class="select-container">
            <div class="select-container__row" data-table-filters>
                <div class="select-container__col">
                    <div class="select">
                        <select name="house" id="house">
                            <option value="1">дом №1</option>
                            <option value="2">дом №2</option>
                            <option value="3">дом №3</option>
                            <option value="4">дом №4</option>
                        </select>
                        <span class="select__icon">{% include 'svg/small-drop-down.svg' %}</span>
                    </div>
                </div>
                {% if filterdata.floors is defined %}
                    <div class="select-container__col">
                        <div class="select">
                            <select name="floor" id="floor">
                                <option value="">Все этажи</option>
                                {% for item in filterdata.floors %}
                                    <option value="{{ item.floor }}">{{ item.floor }}</option>
                                {% endfor %}
                            </select>
                            <span class="select__icon">{% include 'svg/small-drop-down.svg' %}</span>
                        </div>
                    </div>
                {% endif %}
                {% if filterdata.rooms_number is defined %}
                    <div class="select-container__col">
                        <div class="select">
                            <select name="rooms_number" id="rooms_number">
                                <option value="">Комнат</option>
                                {% for item in filterdata.rooms_number %}
                                    <option value="{{ item.rooms_number }}">{{ item.rooms_number }}</option>
                                {% endfor %}
                            </select>
                            <span class="select__icon">{% include 'svg/small-drop-down.svg' %}</span>
                        </div>
                    </div>
                {% endif %}
                <div class="select-container__col">
                    <div class="select">
                        <select name="room_area" id="room_area">
                            <option value="">Площадь</option>
                            <option value="1">30 000 - 50 000</option>
                            <option value="2">50 000 - 80 000</option>
                            <option value="3">80 000 - 100 000</option>
                            <option value="4">> 100 000</option>
                        </select>
                        <span class="select__icon">{% include 'svg/small-drop-down.svg' %}</span>
                    </div>
                </div>
                <div class="select-container__col">
                    <div class="select">
                        <select name="price" id="price">
                            <option value="">Цена</option>
                            <option value="1">30 000 - 50 000</option>
                            <option value="2">50 000 - 80 000</option>
                            <option value="3">80 000 - 100 000</option>
                            <option value="4">> 100 000</option>
                        </select>
                        <span class="select__icon">{% include 'svg/small-drop-down.svg' %}</span>
                    </div>
                </div>
                <div class="select-container__col select-container__col--right">
                    <div class="clear-filter" data-table-filter-clear>
                        <span class="clear-filter__icon">{% include 'svg/close-small.svg' %}</span>
                        {{ l('очистить фильтр') }}
                    </div>
                </div>
            </div>
        </div>
        {% setcontent appart = 'apparmets' %}
        <table class="table" data-sort-table data-url="#" data-table-change-by-filters>
            <thead>
            <tr>
                <th class="center">этаж
                    <span class="table__icon">{% include 'svg/small-arrow-download.svg' %}</span>
                </th>
                <th class="left">квартира №
                    <span class="table__icon">{% include 'svg/small-arrow-download.svg' %}</span>
                </th>
                <th class="center">комнат
                    <span class="table__icon">{% include 'svg/small-arrow-download.svg' %}</span>
                </th>
                <th class="right">площадь, м<sup>2</sup>
                    <span class="table__icon">{% include 'svg/small-arrow-download.svg' %}</span>
                </th>
                <th class="right">терраса, м<sup>2</sup>
                    <span class="table__icon">{% include 'svg/small-arrow-download.svg' %}</span>
                </th>
                <th class="right">общая, м<sup>2</sup>
                    <span class="table__icon">{% include 'svg/small-arrow-download.svg' %}</span>
                </th>
                <th class="center">цена, €
                    <span class="table__icon">{% include 'svg/small-arrow-download.svg' %}</span>
                </th>
                <th class="center no-hover">статус</th>
                <th class="left no-hover">планировки, pdf</th>
            </tr>
            </thead>
            <tbody>
            <!--tr class="sep"><td class="separator" colspan="9">&nbsp;</td></tr-->
            {% for room in appart %}
                <tr class="room-show {% if room.room_status == 'sold' %} sold {% endif %}">
                    <td class="center">{{ room.floor }}</td>
                    <td class="left">{{ room.room }}</td>
                    <td class="center">{{ room.rooms_number }}</td>
                    <td class="right">{{ room.room_area }}</td>
                    <td class="right">{{ room.terrace_area }}</td>
                    <td class="right">{{ room.total_area }}</td>
                    <td class="center">{{ room.price }}</td>
                    {% set appstat = room.room_status %}
                    <td class="center">
                        {% if appstat == 'free' %}
                            {{ l("свободна") }}
                        {% elseif appstat == 'sold' %}
                            {{ l("продана") }}
                        {% elseif appstat == 'reserved' %}
                            {{ l("зарезервирована") }}
                        {% endif %}
                    </td>
                    <td class="left">
                        {% if room.appart_file %}
                            <a href="{{ app.request.basepath }}/files/{{ room.appart_file }}" class="button button--table">
                                <i class="button__icon button__icon--download">{% include 'svg/small-arrow-download.svg' %}</i>
                                {{ l('скачать') }}
                            </a>
                        {% else %}
                            —
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <!--tr class="sep"><td class="separator" colspan="9">&nbsp;</td></tr-->
            </tbody>
        </table>
    </div>


    <div class="content content--plans">
        <div class="content__houses">
            <ul class="house-circle__list">
                <li class="house-circle">
                    <a href="?&house=1" data-house="1">
                        <div class="house-circle__circle">№1</div>
                        <div class="house-circle__line"></div>
                    </a>
                </li>
                <li class="house-circle house-circle--h90">
                    <a href="?&house=2" data-house="2">
                        <div class="house-circle__circle">№2</div>
                        <div class="house-circle__line"></div>
                    </a>
                </li>
                <li class="house-circle house-circle--h20">
                    <a href="?&house=3" data-house="3">
                        <div class="house-circle__circle">№3</div>
                        <div class="house-circle__line"></div>
                    </a>
                </li>
                <li class="house-circle house-circle--h120">
                    <a href="?&house=4" data-house="4">
                        <div class="house-circle__circle">№4</div>
                        <div class="house-circle__line"></div>
                    </a>
                </li>
            </ul>
        </div>

        <img alt="" src="{{ app.request.basepath }}/images/render.jpg" title="" usemap="#render">

        <map name="render" id="render">
            <area data-section="1" alt="" data-render-filter="1" title="" shape="poly" coords="321,309,497,314,498,502,322,502" />
            <area data-section="2" alt="" data-render-filter="2" title="" shape="poly" coords="499,263,758,276,759,506,499,507" />
            <area data-section="3" alt="" data-render-filter="3" title="" shape="poly" coords="758,253,797,187,1123,208,1115,513,799,512,762,507" />
            <area data-section="4" alt="" data-render-filter="4" title="" shape="poly" coords="1124,319,1309,300,1311,504,1119,504" />
        </map>
    </div>

    <div class="content content--contacts">
        <div class="section section--info">
            <div class="content__col">
                <div class="section section__text">
                    <div class="content__col-text content__col-text--float_right">
                        {{ record.bot_text_left }}
                    </div>
                    <div class="content__col-text content__col-text--float_right">
                        {{ record.bot_text_right }}
                    </div>
                </div>
            </div>
            <div class="section__contacts">
                <div class="section__contacts-button">
                    <div class="contact-block">
                        <div class="button" data-modal-open="order-call">
                            <span class="button__fix">{{ l('заказать звонок') }}</span>
                            <span class="button__fix">{{ l('заказать звонок') }}</span>
                            <i class="button__icon">{% include 'svg/phone-2.svg' %}</i>
                        </div>
                        <ul class="contact-block__list">
                            <li class="contact-block__list-item">
                                <div class="contact-block__list-item-title">
                                    {{ l('адрес') }}
                                </div>
                                <div class="contact-block__list-item-text">
                                    {{ l('contact address small') }}
                                </div>
                            </li>
                            <li class="contact-block__list-item">
                                <div class="contact-block__list-item-title">
                                    {{ l('телефон') }}
                                </div>
                                <div class="contact-block__list-item-text">
                                    <a href="tel:{{ l('contact phone') }}" class="contact-block__list-item-text">
                                        {{ l('contact phone') }}
                                    </a>
                                </div>
                            </li>
                            <li class="contact-block__list-item">
                                <div class="contact-block__list-item-title">
                                    {{ l('эл. почта') }}
                                </div>
                                <div class="contact-block__list-item-text">
                                    <a href="mailto:{{ l('contact email') }}">{{ l('contact email') }}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include 'blocks/bottom_block.twig' %}


{% endblock %}