{% extends 'index.twig' %}

{% block page %}
    {% include 'interface/languages.twig' %}
    {% include 'interface/inner-header.twig' %}

    <div class="content content--table">
        <div class="select-container">
            <div class="select-container__row">
                <div class="select-container__col">
                    <div class="select">
                        <select name="house" id="house">
                            <option value="1">дом №1</option>
                            <option value="2">дом №2</option>
                        </select>
                        <span class="select__icon">{% include 'svg/small-drop-down.svg' %}</span>
                    </div>
                </div>
                <div class="select-container__col">
                    <div class="select">
                        <select name="house" id="house">
                            <option value="1">дом №1</option>
                            <option value="2">дом №2</option>
                        </select>
                        <span class="select__icon">{% include 'svg/small-drop-down.svg' %}</span>
                    </div>
                </div>
                <div class="select-container__col">
                    <div class="select">
                        <select name="house" id="house">
                            <option value="1">дом №1</option>
                            <option value="2">дом №2</option>
                        </select>
                        <span class="select__icon">{% include 'svg/small-drop-down.svg' %}</span>
                    </div>
                </div>
                <div class="select-container__col">
                    <div class="select">
                        <select name="house" id="house">
                            <option value="1">дом №1</option>
                            <option value="2">дом №2</option>
                        </select>
                        <span class="select__icon">{% include 'svg/small-drop-down.svg' %}</span>
                    </div>
                </div>
                <div class="select-container__col">
                    <div class="select">
                        <select name="house" id="house">
                            <option value="1">дом №1</option>
                            <option value="2">дом №2</option>
                        </select>
                        <span class="select__icon">{% include 'svg/small-drop-down.svg' %}</span>
                    </div>
                </div>
                <div class="select-container__col select-container__col--right">
                    <div class="clear-filter">
                        <span class="clear-filter__icon">{% include 'svg/close-small.svg' %}</span>
                        очистить фильтр
                    </div>
                </div>
            </div>
        </div>
        {% setcontent appart = 'apparmets' %}
        <table class="table" data-sort-table data-url="#">
            <thead>
            <tr>
                <th class="center">этаж
                    <span class="table__icon">{% include 'svg/small-arrow-download.svg' %}</span>
                </th>
                <th class="left">квартира №
                    <span class="table__icon">{% include 'svg/small-arrow-download.svg' %}</span>
                </th>
                <th class="center">комнат
                    <span class="table__icon">{% include 'svg/small-arrow-download.svg' %}</span>
                </th>
                <th class="right">площадь, м<sup>2</sup>
                    <span class="table__icon">{% include 'svg/small-arrow-download.svg' %}</span>
                </th>
                <th class="right">терраса, м<sup>2</sup>
                    <span class="table__icon">{% include 'svg/small-arrow-download.svg' %}</span>
                </th>
                <th class="right">общая, м<sup>2</sup>
                    <span class="table__icon">{% include 'svg/small-arrow-download.svg' %}</span>
                </th>
                <th class="center">цена, €
                    <span class="table__icon">{% include 'svg/small-arrow-download.svg' %}</span>
                </th>
                <th class="center no-hover">статус</th>
                <th class="left no-hover">планировки, pdf</th>
            </tr>
            </thead>
            <tbody>
            <!--tr class="sep"><td class="separator" colspan="9">&nbsp;</td></tr-->
            {% for room in appart %}
                <tr {% if room.room_status == 'sold' %} class="sold" {% endif %}>
                    <td class="center">{{ room.floor }}</td>
                    <td class="left">{{ room.room }}</td>
                    <td class="center">{{ room.rooms_number }}</td>
                    <td class="right">{{ room.room_area }}</td>
                    <td class="right">{{ room.terrace_area }}</td>
                    <td class="right">{{ room.total_area }}</td>
                    <td class="center">{{ room.price }}</td>
                    <td class="center">{{ room.room_status }}</td>
                    <td class="left">
                        {% if room.appart_file %}
                            <a href="{{ app.request.basepath }}/files/{{ room.appart_file }}" class="button button--table">
                                <i class="button__icon button__icon--download">{% include 'svg/small-arrow-download.svg' %}</i>
                                скачать
                            </a>
                        {% else %}
                            —
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <!--tr class="sep"><td class="separator" colspan="9">&nbsp;</td></tr-->
            </tbody>
        </table>
    </div>


    <div class="content content--plans">
        <div class="content__houses">
            <ul class="house-circle__list">
                <li class="house-circle">
                    <a href="?&house=1" data-house="1">
                        <div class="house-circle__circle">№1</div>
                        <div class="house-circle__line"></div>
                    </a>
                </li>
                <li class="house-circle house-circle--h90">
                    <a href="?&house=2" data-house="2">
                        <div class="house-circle__circle">№2</div>
                        <div class="house-circle__line"></div>
                    </a>
                </li>
                <li class="house-circle house-circle--h20">
                    <a href="?&house=3" data-house="3">
                        <div class="house-circle__circle">№3</div>
                        <div class="house-circle__line"></div>
                    </a>
                </li>
                <li class="house-circle house-circle--h120">
                    <a href="?&house=4" data-house="4">
                        <div class="house-circle__circle">№4</div>
                        <div class="house-circle__line"></div>
                    </a>
                </li>
            </ul>
        </div>

        <img alt="" src="{{ app.request.basepath }}/images/render.jpg" title="" usemap="#render">

        <map name="render" id="render">
            <area data-section="1" alt="" href="?&house=1" title="" shape="poly" coords="321,309,497,314,498,502,322,502" />
            <area data-section="2" alt="" href="?&house=2" title="" shape="poly" coords="499,263,758,276,759,506,499,507" />
            <area data-section="3" alt="" href="?&house=3" title="" shape="poly" coords="758,253,797,187,1123,208,1115,513,799,512,762,507" />
            <area data-section="4" alt="" href="?&house=4" title="" shape="poly" coords="1124,319,1309,300,1311,504,1119,504" />
        </map>
    </div>

    <div class="content content--contacts">
        <div class="section section--info">
            <div class="content__col">
                <div class="section section__text">
                    <div class="content__col-text content__col-text--float_right">
                        {{ record.bot_text_left }}
                    </div>
                    <div class="content__col-text content__col-text--float_right">
                        {{ record.bot_text_right }}
                    </div>
                </div>
            </div>
            <div class="section__contacts">
                <div class="section__contacts-button">
                    <div class="contact-block">
                        <div class="button" data-modal-open="order-call">
                            <span class="button__fix">заказать звонок</span>
                            <span class="button__fix">заказать звонок</span>
                            <i class="button__icon">{% include 'svg/phone-2.svg' %}</i>
                        </div>
                        <ul class="contact-block__list">
                            <li class="contact-block__list-item">
                                <div class="contact-block__list-item-title">
                                    Адрес
                                </div>
                                <div class="contact-block__list-item-text">
                                    Слокас 51, Юрмала
                                </div>
                            </li>
                            <li class="contact-block__list-item">
                                <div class="contact-block__list-item-title">
                                    Телефон
                                </div>
                                <div class="contact-block__list-item-text">
                                    <a href="tel:+371 26113355" class="contact-block__list-item-text">
                                        +371 26113355
                                    </a>
                                </div>
                            </li>
                            <li class="contact-block__list-item">
                                <div class="contact-block__list-item-title">
                                    Эл. почта
                                </div>
                                <div class="contact-block__list-item-text">
                                    <a href="mailto:sales@dubultukrasts.lv">sales@dubultukrasts.lv</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include 'blocks/bottom_block.twig' %}


{% endblock %}